{% extends 'base.html.twig' %}

{% block title %}FormatDisque index
{% endblock %}

{% block body %}
	<div class="page formatdisque">
		<h1>FormatDisque index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for format_disque in format_disques|sort((a, b) => a.nom <=> b.nom) %}

					<tr>
						<td>{{ format_disque.id }}</td>
						<td>{{ format_disque.nom }}</td>
						<td>
							<a href="{{ path('app_format_disque_show', {'id': format_disque.id}) }}" class="btn btn-light btn-crud">afficher</a>
							<a href="{{ path('app_format_disque_edit', {'id': format_disque.id}) }}" class="btn btn-warning btn-crud">modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_format_disque_new') }}">Create new</a>
	</div>

{% endblock %}
