{% extends 'base.html.twig' %}

{% block title %}FormatAlimentation index
{% endblock %}

{% block body %}
	<div class="page formatalimentation">
		<h1>FormatAlimentation index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for format_alimentation in format_alimentations|sort((a, b) => a.nom <=> b.nom) %}

					<tr>
						<td>{{ format_alimentation.id }}</td>
						<td>{{ format_alimentation.nom }}</td>
						<td>
							<a href="{{ path('app_format_alimentation_show', {'id': format_alimentation.id}) }}" class="btn btn-light btn-crud">afficher</a>
							<a href="{{ path('app_format_alimentation_edit', {'id': format_alimentation.id}) }}" class="btn btn-warning btn-crud">modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-center">
			<a href="{{ path('app_format_alimentation_new') }}" class="btn btn-primary btn-create bg-perso">Create new</a>
		</div>

	</div>

{% endblock %}
